<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html>
<head>
  <h1>Rock Climbing</h1>
<style>
img {
 width: 100%;
}
</style>
</head>
<body>
<image src = "{{url_for('static', filename = 'images/argument.jpg')}}">
<image src = "{{url_for('static', filename = 'images/beanking.jpg')}}">
<image src = "{{url_for('static', filename = 'images/beanboy.jpg')}}">
<image src = "{{url_for('static', filename = 'images/belay.jpg')}}">
<image src = "{{url_for('static', filename = 'images/brainfreeze.jpg')}}">
<image src = "{{url_for('static', filename = 'images/cave.jpg')}}">
<image src = "{{url_for('static', filename = 'images/climbing.jpg')}}">
<image src = "{{url_for('static', filename = 'images/group.jpg')}}">
<image src = "{{url_for('static', filename = 'images/walk.jpg')}}">

</body>
</html>
{% endblock %}
