<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html>
<head>
  <h1>Rock Climbing</h1>
  <br>
  <br>
</head>

<style>
img {
 display: flex;
 margin-left: auto;
 margin-right: auto;
 width: 75%;
}
</style>
<h6 style="text-align:center"> Clipping a 5.10 in Alabama. </h6>
<image src = "{{url_for('static', filename = 'images/two_pump.PNG')}}">
  <br>
  <br>
<h6 style="text-align:center"> The best time to climb is a night. </h6>
<image src = "{{url_for('static', filename = 'images/dog_fleas.JPG')}}">
  <br>
  <br>
<h6 style="text-align:center"> Me entering a never before entered cave and discovering claustraphobia. </h6>
<image src = "{{url_for('static', filename = 'images/cave2.JPG')}}">
    <br>
    <br>
<h6 style="text-align:center"> Me and a friend discussing how to set an anchor. </h6>
<image src = "{{url_for('static', filename = 'images/argument.jpg')}}">
  <br>
  <br>
<h6 style="text-align:center"> Me telling a story in a cave. </h6>
<image src = "{{url_for('static', filename = 'images/beanking.jpg')}}">
  <br>
  <br>
<h6 style="text-align:center"> The whole rocktown climbing gang. </h6>
<image src = "{{url_for('static', filename = 'images/beanboy.jpg')}}">
  <br>
  <br>
<h6 style="text-align:center"> Me on lead belay. </h6>
<image src = "{{url_for('static', filename = 'images/belay.jpg')}}">
  <br>
  <br>
<h6 style="text-align:center"> The coldest I've eve been in my life. </h6>
<image src = "{{url_for('static', filename = 'images/brainfreeze.jpg')}}">
  <br>
  <br>
<h6 style="text-align:center"> A much cooler cave in Georgia. </h6>
<image src = "{{url_for('static', filename = 'images/cave.jpg')}}">
  <br>
  <br>
<h6 style="text-align:center"> A rare photo of me actually climbing. </h6>
<image src = "{{url_for('static', filename = 'images/climbing.jpg')}}">
  <br>
  <br>
<h6 style="text-align:center"> Another picture of the FSU climbing club not climbing. </h6>
<image src = "{{url_for('static', filename = 'images/group.jpg')}}">
  <br>
  <br>
<h6 style="text-align:center"> Walking, menacingly. </h6>
<image src = "{{url_for('static', filename = 'images/walk.jpg')}}">
</html>
{% endblock %}
